body {
  width: 80%;
}

p {
  padding-bottom: 2rem;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 180%;
  color: black !important;
}

li {
  padding-bottom: 0.5rem;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 180%;
}

h2 {
  font-size: 40px;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

h3 {
  font-size: 30px;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
