@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --button-bg-color: 193, 193, 193;
  --white: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: gilroy;
  src: url("/fonts/gilroy/Gilroy-Black.ttf");
  src: url("/fonts/gilroy/Gilroy-Bold.ttf");
  src: url("/fonts/gilroy/Gilroy-ExtraBold.ttf");
  src: url("/fonts/gilroy/Gilroy-Heavy.ttf");
  src: url("/fonts/gilroy/Gilroy-Light.ttf");
  src: url("/fonts/gilroy/Gilroy-Medium.ttf");
  src: url("/fonts/gilroy/Gilroy-Regular.ttf");
  src: url("/fonts/gilroy/Gilroy-SemiBold.ttf");
  src: url("/fonts/gilroy/Gilroy-Thin.ttf");
}
